<!--
Copyright (C) 2022 David Tagatac <david@tagatac.net>
See https://github.com/tagatac/bagoup/blob/main/main.go for usage terms.
-->

<html>
    <head>
        <title>{{.Title}}</title>
        <meta charset="utf-8">

        <style>
            body {
                word-wrap: break-word;
            }
            img {
                max-width: 850px;
                max-height: 1300px;
            }
        </style>
    </head>
    <body>
        {{range .Lines}}{{.Element}}
        {{end}}
    </body>
</html>
