<!--
Copyright (C) 2022  David Tagatac <david@tagatac.net>
See cmd/bagoup/main.go for usage terms.
-->

<!doctype html>
<html>
    <head>
        <title>{{.Title}}</title>
        <meta charset="utf-8">

        <style>
            @page {
                margin: 50px;
                margin-top: 40px;
                margin-bottom: 40px;
                width: 900px;
            }
            body {
                word-wrap: break-word;
            }
            img {
                max-width: 885px;
                max-height: 1040px;
            }
        </style>

    </head>
    <body>
        {{range .Lines}}{{.Element}}
        {{end}}
    </body>
</html>
