<!--
Copyright (C) 2022  David Tagatac <david@tagatac.net>
See cmd/bagoup/main.go for usage terms.
-->

<!doctype html>
<html>
    <head>
        <title>{{.Title}}</title>
        <meta charset="utf-8">
        <meta name="generator" content="{{.Generator}}">
        <meta name="DCTERMS.created" content="{{.Created}}">

        <style>
            @page {
                margin: 0.35in;
                margin-top: 0.3in;
                margin-bottom: 0.3in;
            }
            body {
                font-size: 9.5pt;
                word-wrap: break-word;
            }
            img {
                image-resolution: 120dpi;
                max-width: 7.4in;
                max-height: 11.1in;
            }
        </style>

    </head>
    <body>
        {{range .Lines}}{{.Element}}
        {{end}}
    </body>
</html>
