<!--
Copyright (C) 2022  David Tagatac <david@tagatac.net>
See cmd/bagoup/main.go for usage terms.
-->

<!doctype html>
<html>
    <head>
        <title>{{.Title}}</title>
        <meta charset="utf-8">

        <style>
            body {
                word-wrap: break-word;
            }
            img {
                max-width: 875px;
                max-height: 1300px;
            }
        </style>

        <!-- Convert emojis to images - copied from https://github.com/wkhtmltopdf/wkhtmltopdf/issues/2913#issuecomment-1011269370 -->
        <style>
            img.emoji {
                height: 1em;
                width: 1em;
                margin: 0 .05em 0 .1em;
                vertical-align: -0.1em;
            }
        </style>
        <script src="https://cdn.jsdelivr.net/npm/@twemoji/api@latest/dist/twemoji.min.js" crossorigin="anonymous"></script>
        <script>window.onload = function () { twemoji.parse(document.body); }</script>

    </head>
    <body>
        {{range .Lines}}{{.Element}}
        {{end}}
    </body>
</html>
